[submodule "Assets/Script/ShEditor"]
	path = Assets/Script/ShEditor
	url = https://github.com/zlbsy/sh.git
[submodule "Assets/Editor Default Resources"]
	path = Assets/Editor Default Resources
	url = https://github.com/zlbsy/sh.git
